.button {
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

.white {
  background-color: #fff;
  color: #222;
}

.white:hover {
  outline: auto;
}

.white:active {
  outline: auto;
  background-color: #222;
  color: #fff;
}

.black {
  background-color: #222;
  color: #fff;
}

.black:hover {
  outline: auto;
}

.black:active {
  outline: auto;
  background-color: #fff;
  color: #222;
}

@media (max-width: 760px) {
  .button {
    font-size: 18px;
  }
}