.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__input {
  block-size: 65px;
  padding-inline-start: 30px;
  border-color: #D6D6D6;
  border-radius: 5px;
  font-size: 24px;
  opacity: 70%;
}

.form__button {
  min-block-size: 100px;
}

.form__container_checkbox {
  margin: 25px 0 25px -3px;
  display: flex;
  gap: 10px;
  color: #38535D;
  align-items: center;
}

.form__checkbox {
  inline-size: 24px;
  block-size: 24px;
  accent-color: #D6D6D6;
}

.form__checkbox_text {
  font-size: 19px;
  display: block;
}

@media (max-width: 900px) {
  .form__button {
    min-block-size: 70px;
  }
}

@media (max-width: 760px) {
  .form__input {
    block-size: 45px;
    padding-inline-start: 15px;
    font-size: 18px;
  }
  
  .form__checkbox_text {
    font-size: 16px;
  }

  .form__button {
    min-block-size: 60px;
  }
}
