.sectionContent_1__article {
  max-inline-size: 610px;
  padding-block-start: 10%;
  padding-block-end: 60px;
  padding-inline-start: 162px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionContent_1__articleTitle {
  font-family: 'Prata-Regular';
  font-size: 80px;
  line-height: 120%;
}


@media (max-width: 900px) {
  .sectionContent_1__article {
    padding-block-start: 5%;
    padding-block-end: 30px;
    padding-inline-start: 80px;
    gap: 20px;
  }
}

@media (max-width: 760px) {
  .sectionContent_1__article {
    padding-block-start: 3%;
    padding-block-end: 15px;
    padding-inline-start: 20px;
    gap: 20px;
  }
  .sectionContent_1__articleTitle {
    font-family: 'Prata-Regular';
    font-size: 40px;
    line-height: 110%;
  }
}
