.list__item {
  cursor: pointer;
}

.list__item:hover {
  outline: auto;
  outline-offset: 5px;
}

.list__itemNumber {
  display: inline-block;
  font-family: 'Prata-Regular';
  font-size: 40px;
  line-height: 150%;
}

@media (max-width: 760px) {
  .list__itemNumber {
    font-size: 26px;
  }
}