.footer__list {
  padding-block-start: 25px;
  padding-block-end: 25px;
  gap: 60px;
  font-style: italic;
  justify-content: center;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  border-block-start: 2px solid #D5C9BE;
  border-block-end: 2px solid #D5C9BE;
}

.footer__container {
  padding: 50px 163px;
  display: flex;
  justify-content: space-between;
}

.footer__container_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  font-family: 'Prata-Regular';
  font-size: 36px;
  text-transform: uppercase;
  line-height: 150%;
  margin-block-start: -10px;
}

.footer__logo_text {
  font-size: 20px;
  line-height: 150%;
}

.footer__container_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__container_icons {
  display: flex;
  gap: 32px;
}

.footer__link:hover {
  outline: auto;
  outline-offset: 2px;
  cursor: pointer;
}

.styles.footer__link_text {
  font-size: 20px;
  color: #D5C9BE;
  list-style: 150%
}

.footer__container_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.footer__button {
  inline-size: 180px;
  block-size: 78px;
}

.footer__button_text {
  font-size: 20px;
  line-height: 150%;
  color: #D5C9BE;
  text-align: right;
}

@media (max-width: 1400px) {
  .footer__container_icons {
    gap: 8px;
  }

  .footer__logo_text {
    font-size: 18px;
    line-height: 100%;
  }

  .footer__button {
    inline-size: 130px;
  }

  .footer__button_text {
    font-size: 18px;
    line-height: 100%;
  }

}

@media (max-width: 900px) {
  .footer__container {
    padding: 50px 80px;
  }

  .footer__button {
    block-size: 70px;
  }
}

@media (max-width: 760px) {
  .footer__list {
    padding-block-start: 15px;
    padding-block-end: 15px;
    font-size: 16px;
  }

  .footer__container {
    padding: 20px;
  }

  .footer__logo {
    font-size: 28px;
    line-height: 150%;
  }

  .footer__logo_text {
    font-size: 14px;
  }

  .footer__button {
    block-size: 60px;
  }

  .footer__button_text {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .footer__list {
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer__container_links {
    gap: 10px;
  }

  .footer__button {
    block-size: 50px;
    inline-size: 90px;
  }

}