@font-face {
  font-family: 'Prata-Regular';
  src: url(./fonts/Prata-Regular.ttf) format('ttf'),
}

#root {
  max-inline-size: 1920px;
  min-inline-size: 320px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header__list {
  gap: 29px;
  justify-content: space-between;
  font-style: italic;
  font-size: 16px;
  text-align: center;
}

.sectionContent_1 {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
}

.sectionContent_1__text {
  display: inline-block;
  font-size: 50px;
  line-height: 120%;
}

.sectionContent_1__list {
  gap: 35px;
  font-size: 24px;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 60px;
}

.sectionContent_1__item {
  font-size: 24px;
  pointer-events: none;
  position: relative;
}

.sectionContent_1__item::before {
  position: absolute;
  content: url('bullet_1.png');
  left: -60px;
  top: 12px;
}

.sectionContent_1__button {
  min-block-size: 96px;
  max-inline-size: 40%;
}

/* .sectionContent_1__container_img {
  max-inline-size: 763px;
} */

.sectionContent_1__img {
  inline-size: 100%;
  block-size: 100%;
}

.sectionContent_2 {
  padding: 100px 0 0;
  background-color: #282829;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sectionContent_2__container {
  max-inline-size: 615px;
  padding: 53px 53px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionContent_2__list {
  gap: 60px;
  font-size: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column;
  line-height: 140%;
}

.sectionContent_2__item {
  margin-inline-start: 78px;
  pointer-events: none;
  position: relative;
}

.sectionContent_2__item::before {
  position: absolute;
  background-image: url('bullet_2.png');
  background-size: cover;
  content: '';
  inline-size: 58px;
  block-size: 47px;
  left: -80px;
  top: 10px;
}

.sectionContent_2__button {
  margin-block-start: 20px;
  min-block-size: 78px;
  font-size: 20px;
}

.sectionContent_2__img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

.sectionContent_3 {
  padding: 100px 163px;
  justify-content: space-between;
  background-color: #282829;
}

.sectionContent_3__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #fff;
  border-radius: 15px;
}

.sectionContent_3__container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 50px 100px;
}

.sectionContent_3__title {
  font-family: 'Prata-Regular';
  font-size: 54px;
  line-height: 110%;
  color: #38535D;
}

.sectionContent_3__img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .sectionContent_1 {
    flex-direction: column-reverse;
  }

  .sectionContent_1__container_img {
    align-self: center;
    inline-size: 90%;
  }

  .sectionContent_2 {
    display: flex;
    flex-direction: column;
  }

  .sectionContent_2__container {
    max-inline-size: 100%;
    padding: 53px 162px;
  }

  .sectionContent_2__button {
    max-inline-size: 70%;
    margin-block-start: 60px;
  }

  .sectionContent_2__container_img {
    display: flex;
    justify-content: space-around;
  }

  .sectionContent_2__img {
    inline-size: 90%;
  }

  .sectionContent_3__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-inline-start: 80px;
    padding-inline-end: 80px;
  }

  .sectionContent_3__container-form {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }

  .sectionContent_3__container_img {
    margin-block-start: 50px;
  }

  .sectionContent_3__img {
    border-radius: 0;
  }
 
}

@media (max-width: 900px) {
  .sectionContent_1__button {
    min-block-size: 70px;
    max-inline-size: 40%;
  }

  .sectionContent_1__container_img {
    inline-size: 100%;
  }

  .sectionContent_2__img {
    inline-size: 100%;
  }
  .sectionContent_2__container {
    padding: 30px 80px;
  }

  .sectionContent_2__button {
    min-block-size: 70px;
    max-inline-size: 40%;
  }

  .sectionContent_2 {
    padding-block-start: 80px;
  }

  .sectionContent_2__img {
    inline-size: 100%;
  }

  .sectionContent_3 {
    padding: 80px;
  }

  .sectionContent_3__title {
    font-size: 48px;
    margin-block-end: 20px;
  }
}

@media (max-width: 760px) {
  .sectionContent_1__text {
    font-size: 20px;
    line-height: 110%;
  }
  .sectionContent_1__list {
    gap: 20px;
  }
  .sectionContent_1__item {
    font-size: 18px;
  }
  .sectionContent_1__item::before {
    top: 2px;
  }
  .sectionContent_1__button {
    min-block-size: 60px;
    max-inline-size: 40%;
  }

  .sectionContent_2 {
    padding-block-start: 20px;
  }

  .sectionContent_2__container {
    padding: 15px 20px;
  }

  .sectionContent_2__list {
    gap: 30px;
  }

  .sectionContent_2__item {
    margin-inline-start: 50px;
  }

  .sectionContent_2__item::before {
    inline-size: 37px;
    block-size: 30px;
    left: -50px;
  }

  .sectionContent_2__button {
    min-block-size: 60px;
    max-inline-size: 40%;
    margin-block-start: 30px;
  }

  .sectionContent_3 {
    padding: 20px;
  }

  .sectionContent_3__container {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    gap: 15px;
  }

  .sectionContent_3__container-form {
    padding: 40px;
  }

  .sectionContent_3__title {
    font-size: 34px;
  }

  .sectionContent_3__container_img {
    margin-block-start: 40px;
  }

}