.header {
  inline-size: 100%;
  padding: 30px 163px;
  display: flex;
  gap: 180px;
  animation: appearance 4s both;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header__logo {
  font-family: 'Prata-Regular';
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .header {
    padding: 15px 80px;
  }
  
  .header__logo {
    font-family: 'Prata-Regular';
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

@media (max-width: 760px) {
  .header {
    padding: 15px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .header__logo {
    font-size: 28px;
  }
}